apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    build.appstudio.redhat.com/multi-platform-config: hosts
  name: host-config
  namespace: multi-platform-controller
data:
  dynamic-platforms: linux/amd64,linux/s390x,linux-root/amd64
  dynamic-pool-platforms: linux/arm64
  instance-tag: QUAY_USERNAME-development

  dynamic.linux-arm64.type: aws
  dynamic.linux-arm64.region: us-east-1
  dynamic.linux-arm64.ami: ami-048b8750a6016535e
  dynamic.linux-arm64.instance-type: t4g.medium
  dynamic.linux-arm64.key-name: sdouglas-arm-test
  dynamic.linux-arm64.aws-secret: awsiam
  dynamic.linux-arm64.ssh-secret: awskeys
  dynamic.linux-arm64.security-group: "launch-wizard-1"
  dynamic.linux-arm64.max-instances: "2"
  dynamic.linux-arm64.concurrency: "2"
  dynamic.linux-arm64.max-age: "10"

  dynamic.linux-amd64.type: aws
  dynamic.linux-amd64.region: us-east-1
  dynamic.linux-amd64.ami: ami-0b010c16a8a4b9eac
  dynamic.linux-amd64.instance-type: m5.xlarge
  dynamic.linux-amd64.key-name: sdouglas-arm-test
  dynamic.linux-amd64.aws-secret: awsiam
  dynamic.linux-amd64.ssh-secret: awskeys
  dynamic.linux-amd64.security-group: "launch-wizard-1"
  dynamic.linux-amd64.max-instances: "4"

  dynamic.linux-root-amd64.type: "aws"
  dynamic.linux-root-amd64.region: "us-east-1"
  dynamic.linux-root-amd64.ami: "ami-0b010c16a8a4b9eac"
  dynamic.linux-root-amd64.instance-type: "m6idn.2xlarge"
  dynamic.linux-root-amd64.key-name: "sdouglas-arm-test"
  dynamic.linux-root-amd64.aws-secret: "awsiam"
  dynamic.linux-root-amd64.ssh-secret: "awskeys"
  dynamic.linux-root-amd64.security-group: "launch-wizard-1"
  dynamic.linux-root-amd64.max-instances: "4"
  dynamic.linux-root-amd64.sudo-commands: "/usr/bin/podman"
  dynamic.linux-root-amd64.disk: "200"
  dynamic.linux-root-amd64.iops: "16000"
  dynamic.linux-root-amd64.throughput: "1000"
  dynamic.linux-root-amd64.user-data: |-
    Content-Type: multipart/mixed; boundary="//"
    MIME-Version: 1.0

    --//
    Content-Type: text/cloud-config; charset="us-ascii"
    MIME-Version: 1.0
    Content-Transfer-Encoding: 7bit
    Content-Disposition: attachment; filename="cloud-config.txt"

    #cloud-config
    cloud_final_modules:
      - [scripts-user, always]

    --//
    Content-Type: text/x-shellscript; charset="us-ascii"
    MIME-Version: 1.0
    Content-Transfer-Encoding: 7bit
    Content-Disposition: attachment; filename="userdata.txt"

    #!/bin/bash -ex

    if lsblk -no FSTYPE /dev/nvme1n1 | grep -qE '\S'; then
     echo "File system exists on the disk."
    else
     echo "No file system found on the disk /dev/nvme1n1"
     mkfs -t xfs /dev/nvme1n1
    fi

    mount /dev/nvme1n1 /home

    if [ -d "/home/var-lib-containers" ]; then
     echo "Directory '/home/var-lib-containers' exist"
    else
     echo "Directory '/home/var-lib-containers' doesn't exist"
     mkdir -p /home/var-lib-containers /var/lib/containers
    fi

    mount --bind /home/var-lib-containers /var/lib/containers

    if [ -d "/home/ec2-user" ]; then
    echo "ec2-user home exists"
    else
    echo "ec2-user home doesn't exist"
    mkdir -p /home/ec2-user/.ssh
    chown -R ec2-user /home/ec2-user
    fi

    sed -n 's,.*\(ssh-.*\s\),\1,p' /root/.ssh/authorized_keys > /home/ec2-user/.ssh/authorized_keys
    chown ec2-user /home/ec2-user/.ssh/authorized_keys
    chmod 600 /home/ec2-user/.ssh/authorized_keys
    chmod 700 /home/ec2-user/.ssh
    restorecon -r /home/ec2-user

    --//--

  dynamic.linux-s390x.type: ibmz
  dynamic.linux-s390x.ssh-secret: awskeys
  dynamic.linux-s390x.secret: ibmiam
  dynamic.linux-s390x.vpc: "us-east-default-vpc"
  dynamic.linux-s390x.key: "sdouglas-test"
  dynamic.linux-s390x.subnet: "us-east-2-default-subnet"
  dynamic.linux-s390x.image-id: "r014-17c957e0-01a1-4f7f-bc24-191f5f10eba8"
  dynamic.linux-s390x.region: "us-east-2"
  dynamic.linux-s390x.url: "https://us-east.iaas.cloud.ibm.com/v1"
  dynamic.linux-s390x.profile: "bz2-1x4"
  dynamic.linux-s390x.max-instances: "2"

  dynamic.linux-ppc64le.type: ibmp
  dynamic.linux-ppc64le.ssh-secret: awskeys
  dynamic.linux-ppc64le.secret: ibmiam
  dynamic.linux-ppc64le.key: "sdouglas-ppc"
  dynamic.linux-ppc64le.image: "sdouglas-rhel-test"
  dynamic.linux-ppc64le.crn: "crn:v1:bluemix:public:power-iaas:dal10:a/934e118c399b4a28a70afdf2210d708f:8c9ef568-16a5-4aa2-bfd5-946349c9aeac::"
  dynamic.linux-ppc64le.url: "https://us-south.power-iaas.cloud.ibm.com"
  dynamic.linux-ppc64le.network: "dff71085-73da-49f5-9bf2-5ea60c66c99b"
  dynamic.linux-ppc64le.system: "e980"
  dynamic.linux-ppc64le.cores: "0.25"
  dynamic.linux-ppc64le.memory: "2"
  dynamic.linux-ppc64le.max-instances: "2"


  host.ppc1.address: "150.240.147.198"
  host.ppc1.platform: "linux/ppc64le"
  host.ppc1.user: "root"
  host.ppc1.secret: "awskeys"
  host.ppc1.concurrency: "4"

  host.ibmz1.address: "169.59.165.178"
  host.ibmz1.platform: "linux/s390x"
  host.ibmz1.user: "root"
  host.ibmz1.secret: "awskeys"
  host.ibmz1.concurrency: "4"
