apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: clean-shared-host
spec:
  description: >-
    This task will clean up after a build.
  params:
    - name: TASKRUN_NAME
      type: string
    - name: NAMESPACE
      type: string
    - name: HOST
      type: string
    - name: USER
      type: string
  workspaces:
    - name: ssh
  stepTemplate:
    env:
      - name: TASKRUN_NAME
        value: $(params.TASKRUN_NAME)
      - name: NAMESPACE
        value: $(params.NAMESPACE)
      - name: HOST
        value: $(params.HOST)
      - name: USER
        value: $(params.USER)
      - name: SSH_WORKSPACE_PATH
        value: $(workspaces.ssh.path)
  steps:
    - name: clean
      image: quay.io/redhat-appstudio/multi-platform-runner:01c7670e81d5120347cf0ad13372742489985e5f@sha256:246adeaaba600e207131d63a7f706cffdcdc37d8f600c56187123ec62823ff44
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /scripts
          name: script
      command: ["/bin/bash"]
      args: ["/scripts/clean-shared-host.sh"]
  volumes:
    - name: script
      configMap:
        name: clean-shared-host-script
        defaultMode: 0755
