apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: provision-shared-host
  namespace: multi-platform-controller
spec:
  description: >-
    This task will create a new user on a host, setup ssh keys, and then create the relevant secret.
  params:
    - name: SECRET_NAME
      type: string
    - name: TASKRUN_NAME
      type: string
    - name: NAMESPACE
      type: string
    - name: HOST
      type: string
    - name: USER
      type: string
    - name: SUDO_COMMANDS
      type: string
  workspaces:
    - name: ssh
  stepTemplate:
    env:
      - name: SECRET_NAME
        value: $(params.SECRET_NAME)
      - name: TASKRUN_NAME
        value: $(params.TASKRUN_NAME)
      - name: NAMESPACE
        value: $(params.NAMESPACE)
      - name: HOST
        value: $(params.HOST)
      - name: USER
        value: $(params.USER)
      - name: SUDO_COMMANDS
        value: $(params.SUDO_COMMANDS)
      - name: SSH_WORKSPACE_PATH
        value: $(workspaces.ssh.path)
  steps:
    - name: provision
      image: quay.io/redhat-appstudio/multi-platform-runner:01c7670e81d5120347cf0ad13372742489985e5f@sha256:246adeaaba600e207131d63a7f706cffdcdc37d8f600c56187123ec62823ff44
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /tls
          name: tls
        - mountPath: /scripts
          name: script
      command: ["/bin/bash"]
      args: ["/scripts/provision-shared-host.sh"]
  volumes:
    - name: tls
      secret:
        optional: true
        secretName: otp-tls-secrets
    - name: script
      configMap:
        name: provision-shared-host-script
        defaultMode: 0755
