apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: update-host
  namespace: multi-platform-controller
spec:
  description: >-
    This task will run an update on each static host found and delete all users older than 1 day.
  params:
    - name: HOST
      type: string
    - name: USER
      type: string
  workspaces:
    - name: ssh
  stepTemplate:
    env:
      - name: HOST
        value: $(params.HOST)
      - name: USER
        value: $(params.USER)
      - name: SSH_WORKSPACE_PATH
        value: $(workspaces.ssh.path)
  steps:
    - name: update
      image: quay.io/redhat-appstudio/multi-platform-runner:01c7670e81d5120347cf0ad13372742489985e5f@sha256:246adeaaba600e207131d63a7f706cffdcdc37d8f600c56187123ec62823ff44
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /scripts
          name: script
      command: ["/bin/bash"]
      args: ["/scripts/update-host.sh"]
  volumes:
    - name: script
      configMap:
        name: update-host-script
        defaultMode: 0755
