name: Validate PR - Testing Phase - golang CI

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches: [ main ]

  merge_group:
    types: [checks_requested]

  push:
    branches: [ main ]

  repository_dispatch:
    types: [trigger-mpc-test]

concurrency:
  group: ${{ github.workflow }}-${{ (github.event_name == 'pull_request' && github.event.pull_request.number) || github.ref }}
  cancel-in-progress: true

jobs:
  checkout_and_test:
    name: Golang Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Determine workflow run event context
        run: echo "on-event=${{ github.event_name }}" >> $GITHUB_ENV
      - name: Handle invalid context for pull requests
        if: ${{ env.on-event == 'pull_request' && (!github.event.pull_request.head.sha || !github.event.pull_request.number) }}
        run: |
          echo "Invalid context for this workflow run. Exiting."
          exit 1
      - name: Check out pull request head code - on pull_request event
        if: env.on-event == 'pull_request'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Check out main code - on push event
        if: env.on-event == 'push' || env.on-event == 'merge_group'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version-file: "./go.mod"
      - name: Build
        run: make build
      - name: Test
        run: make test
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit-tests
